# Azure Developer CLI
.azure/

# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
*.snupkg
*.trx
TestResults/
test-results/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Secrets
*.pfx
*.key
appsettings.Development.json
local.settings.json

# Terraform (if used)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Test results
coverage/
*.coverage
**/playwright-report/
.env
*.lscache
dist/assets/*

# Compiled ARM templates (use .bicep source only)
infra/**/*.json

tmp.*scripts/grafana/node_modules/
node_modules/